
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    height: 100vh;
}



.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.logo img{
    width: 100%;
    max-width: 150px;
    padding: 30px 20px;
    height: auto;
}



.header{
    padding: 40px 4%;  
}


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #67cbda;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 8px #234449
}