
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
    height: 100vh;
}

.flex {
    display: flex;
}


.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.logo img{
    width: 100%;
    max-width: 150px;
    padding: 30px 20px;
    height: auto;
}



.header{
    padding: 40px 4%;  
}


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button{
    margin: 0 55px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #67cbda;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 42px;
    text-align: center;
    margin: 40px 0;
}

h2.titulo span{
    color: #67cbda;
}
button:hover{
    box-shadow: 0px 0px 8px #234449;
    transform: scale(1.05);
}





section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #67cbda;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    width: 70%;
    border-radius: 50%;
    height: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}





section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    /* border:#fff 2px solid; */
    margin-top: 40 px;
    border-radius: 25px;
    transition: .2;


}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 12px #2e5761;
    
}

.especialidades .especialidades-box i{
    font-size: 60px;
    color: #67cbda;
    margin-bottom: 20px;
}

.especialidades .especialidades-box h3{
    font-size: 28px ;
    margin: 15px 0;
}



section.sobre{
    padding: 100px 4%;
}

.sobre .txt-sobre{
    color: #fff;
}

section .sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img{
    width: 100%;
    border-radius: 10%;
    height: 70%;
    position: relative;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.sobre .txt-sobre h2 span{
    color: #67cbda;
    display: block;
}

.sobre .txt-sobre p{
    margin:40px 40px;
    text-align: justify;

}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #67cbda;
    border: 0;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px ;
    
}


section.portfolio{
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 12px #ffffff25;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #67cbda;

}

section.portfolio .flex{
    gap: 40px;
    flex-wrap: wrap;
}